body{
    font-family: 'Open Sans', sans-serif;
}


nav {
display: flex;

 align-items: center;

  justify-content: space-between;

  margin:0 200px;  /*  header ar dui side a space dite  */
}

.nav-title{
    color:#181818;
    font-size: 45px;
    font-weight: 800;
}

.text-primary{
    color: #fd6e0a;
}

nav > ul{
    display:flex;
    align-items: center;   /* upor nich thik kore soman korte    */
}


nav li{
    list-style: none;
    margin-right: 50px;
    /*align-content: center;*/
}

nav a {
    text-decoration: none;
    color:#181818;
}

.btn-primary{
    border-radius: 5px;
    background-color: #fd6e0a;
    border:0;
    font-size:20px;
    font-weight: 700;
    color:white;
    padding:15px 35px;

}

.header{
    background-color :#fff8f3;

    /*#fff8f3;*/
     /*background-image: url(../images/backg.jpg);*/
    /*height:500;
    width: 200;
    background-position: bottom right;*/
    
}

.bannar{
    padding:30px 30px 30px 150px;
    display:flex;
    align-items:center;
}
.bannar-contant{
   /* max-width: 500px;  */
}
.bannar .profile-pic{
    
    width: 500px ;

}

.bannar-greeting{
    font-size:45px;
    color:#474747;
    margin-bottom: 0;
}
.bannar-title{
    font-size:85px;
    font-weight: 700;
    margin-top:5px;
    margin-bottom: 20px;
}


/* main section cssss worl  */
main{
    max-width: 1140px;
    margin: 0 auto;  /*   about ar information ta moddeh ante   */
}

.about{
    padding: 130px;
    background-color:bisque;
    margin:130px 0;

}
.section-title{
    color:#181818;
    text-align:center;
    font-size:35px;
    font-weight:700;
    
}

.section-description{
    color:#757575;
    text-align:center;
    font-size:18px;
}

/*   About-info- container  css design */
.about-info-container{
    display:flex;
    justify-content:space-around;
}
.about-info{
    text-align: center;
}
/*    module5  nd   video 5-5        */
#what-i-do-description{
    padding:30px 150px;
}
/* video 5-6 of module 6 .............................*/
.skill-container{
    display:flex;
    gap:24px;
}

.skill{
    padding:30px;
   

    border-radius:5px;
    background:#FFF;
    box-shadow:0px 6px 50px 0px rgba(0,0,0,0.06);
}
.skill-description{
   color:#757575;
   font-size: 15px;
}

/* video 5-7 of module 5     */
.resume-container{
    display:flex;
    gap:50px;
}

.resume-item-institution, .resume-item-description{
    color:#757575;
}

.resume-item-title{
    color: #474747;
    font-size:25px;
    font-weight: 700;

}

.resume-container hr{
    /*margin:30px;*/
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}